@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    perspective: 300px;
}

h1 {
    font-family: 'Quicksand', cursive;
    font-size: 4rem;
    text-align: center;
    color: rgb(241, 241, 241);
}
.box {
    position: absolute;
    background: linear-gradient(90deg, #46fcfc, #3F5EFB);
    border-radius: 50%;
    width: 300px; 
    height: 300px;
    animation: anima 5s infinite alternate;
    filter: blur(100px);
}

@keyframes anima {
    0% {
        transform: rotateY(30deg) rotate(-25deg) translateZ(100px);
    }
    25% {
        transform: rotateY(-30deg) translateZ(100px);
    }
    50% {
        transform: rotateX(-50deg) translateZ(-100px);
    }
    75% {
        transform: rotateX(-50deg) translateZ(-100px);
    }
    100% {
        transform: rotateX(20deg) translateZ(0);
    }
}